body {
    background: #0f172a;
    color: white;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.cell {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.safe {
    border: 3px solid lime;
}