<!DOCTYPE html>
<html>
<head>
    <title>Mines IA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🎰 Mines Predictor IA</h1>

<div>
    <label>Minas:</label>
    <input type="number" id="num_minas" value="5">

    <label>Casas seguras:</label>
    <input type="number" id="num_escolhas" value="5">
</div>

<div id="grid" class="grid"></div>

<div>
    <button onclick="enviar()">Finalizar</button>
    <button onclick="resetar()">Reset</button>
</div>

<script src="/static/script.js"></script>

</body>
</html>